#sideBar {
  height: 100vh;
  max-width: 250px;
  min-width: 250px;
  color: aliceblue;
}
#navBar {
  padding-left: 20px;
}
#mainContainer {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}
